/*Left menu CSS rules */
nav.Lmenu {
   position: absolute;
   top: 50%;
   -webkit-transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   transform: translate(0, -50%);
}
li > a.Lmenu {
  display: block;
  padding : 5px 5px 5px 5px;
  background-color : silver;  
  color : black;
}
li.drtrigger > a.Lmenu:after {
    content: "▶";
    position : absolute;
    right: 0%;
    padding-left : 5px;
    padding-right : 5px;
}
li.drtrigger > a.Lmenu {
    padding-right : 30px;
}
li > a.Lmenu[href="#"] {
    text-decoration: none;
}
li.Lmenu_root > ul > li > a.Lmenu {
  border-left : 2px solid black;
}
li.Lmenu > a.Lmenu {
  border-left : 2px solid black;
}
li > a.Lmenu:hover {
  color : white;
}
li > a.Lmenu_active {
  color :white;
  background-color:gray; 
}
li > a.Lmenu_active:hover {
  background-color:#D0D0D0;
}
