/*Top menu CSS rules */
nav.Tmenu {
   position: absolute;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}
.Tmenu_root {
  float :left;
}
li > a.Tmenu {
	display: block;
  	padding : 5px 15px 5px 15px;
  	color : black;
  	height : 25px;
}

li.Tmenu_root:first-child > a {
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}
li.Tmenu_root:last-child > a {
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
}
li.Tmenu:last-child > a {
	border-bottom-left-radius : 10px;
	border-bottom-right-radius : 10px;
}
ul.dropright > li.Tmenu:first-child > a.Tmenu {
	border-top-right-radius : 10px;
}
li.Tmenu_root > ul {
	box-shadow: 5px 5px 5px #888888;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius : 10px;
}
li.Tmenu > ul {
	box-shadow: 5px 5px 5px #888888;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius : 10px;
	border-top-right-radius : 10px;
}

li.Tmenu_root > a:hover {
  	background: linear-gradient(#FFFFFF, #C4CACD);
}
li.Tmenu_root > a {
	background: linear-gradient(#F4FAFD, #A4AAAD);
}

li.Tmenu > a {
  background: #C4CACD;
}
li.Tmenu > a:hover {
  	background: #B0B6B9;
}
li.Tmenu_spacer {
  overflow : hidden;
  max-width : 0px;
}
li.ddtrigger > a.Tmenu:after {
    content: "▽";
    padding-left : 5px;
}
li.drtrigger > a.Tmenu:after {
    content: "▶";
    position : absolute;
    right: 0%;
    padding-left : 5px;
    padding-right : 5px;
}
li.drtrigger > a.Tmenu {
    padding-right : 30px;
}
li > a.Tmenu[href="#"] {
    text-decoration: none;
}

li.Tmenu_root:first-child > a.Tmenu_active {
	border-left : 0px;
	border-right : 1px solid gray;
}
li.Tmenu_root:last-child > a.Tmenu_active {
	border-left : 1px solid gray;
	border-right : 0px;
}
li.Tmenu_root > a.Tmenu_active {
	border-left : 1px solid gray;
	border-right : 1px solid gray;
	background: linear-gradient(#C4CACD, #F4FAFD);
}
li.Tmenu_root > a.Tmenu_active:hover {
	background: linear-gradient(#C4CACD, #FFFFFF);
}
li.Tmenu:first-child > a.Tmenu_active {
	border-top : 0px;
	border-bottom : 1px solid gray;
}

li.Tmenu:last-child > a.Tmenu_active {
	border-top : 1px solid gray;
	border-bottom : 0px;
}

li.Tmenu > a.Tmenu_active {
	border-bottom : 1px solid gray;
	border-top : 1px solid gray;
	background: #F4FAFD;
}
li.Tmenu > a.Tmenu_active:hover {
	background: #FFFFFF;
}


